/* Estilo para o contêiner principal */
.container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Estilo para o retângulo do visor */
.visor {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

/* Estilo para os elementos do formulário */
.formulario {
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
}

.formulario input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

.formulario button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: rgb(153, 13, 113);
}

/* Estilo para os elementos do formulário */
.formulario select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Adicionando bordas arredondadas */
}